*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background:linear-gradient(45deg, rgb(228, 101, 101), rgb(77, 77, 223));
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.date-time{
    position: relative;
    left: 34px;
}

.mobile{
    position:relative;
    overflow: hidden;
    border:3px solid #eee;
    border-radius: 15px;
    height: 600px;
    width:340px;
}

.mobile .content{
    opacity: 0;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
    height:calc(100%-60px);
    width:100%;
    transition:opacity 0.4s ease;
}

.content.show{
    opacity:1;
    height:600px;
    width:100%;
}

nav{
    position:absolute;
   bottom:0;
   left:0;
   margin-top:5px;
   width:100%;
   
}
nav ul{
    background-color: rgb(100, 97, 97);
    display:flex;
    list-style-type: none;
    padding:0;
    margin:0;
    height: 60px;

}

nav li{
  color:rgb(197, 196, 196);
  cursor: pointer;
  flex:1;
  padding:10px;
  text-align:center;
}

nav ul li p{
    font-size:12px;
    margin:2px 0;
}

nav ul li:hover,
nav ul li.active{
    color:#fff;

}